# Discord Bot Token (Tokeninizi buraya yapıştırıp .env olarak kaydedin)
TOKEN=your_bot_token_here

# Discord Bot / Application ID
BOT_ID=899825163699355668

# Bot Prefix
PREFIX=!

# Web Server Port
PORT=3000
